@import './breakpoint';

.cta {
  display: block;
  width: 100%;
  font-family: "Montserrat",Sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0;
  color: #382C2C;
  background-color: #BEDE67;
  border-radius: 5px;
  padding: 20px 40px;
  text-decoration: none;
  text-align: center;

  @include breakpoint(medium-only) {
    padding: 15px 20px;
  }
}